.home-wrapper {
  margin: ($base-size * 3.5) auto;
  padding: ($base-size * 6) ($base-size * 4);
  background: $color-light;
  border-bottom: 1px solid lighten($color-dark, 70%);
  border-radius: $radius;
}

.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 3px;
  height: $base-size * 10;
  border-radius: $radius;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  font-family: $font-header;
  font-weight: lighter;
  background-size: cover;
  background-color: $color-main;

  .banner-subtitle {
    visibility: hidden;
    margin: auto;
    height: 0;
    font-size: 100%;
    font-family: $font-text;
    text-transform: none;
    transition: $transition;
  }

  .banner-opening-hours {
    visibility: visible;
    height: $base-size * 4;
    text-transform: uppercase;
  }

  .banner-title {
    text-align: center;
    margin: $base-size;
    font-size: 190%;
  }
}

.banner:hover .banner-subtitle {
  visibility: visible;
  height: $base-size * 4;
}

.banner-left {
  background-image: url('../../images/assets/pizza-1.jpg');
}

.banner-right {
  background-image: url('../../images/assets/pizza-2.jpg');
}

.main-carousel {
  margin: $base-size * 8 -10px;

  .carousel-cell {
    width: 100%;
    height: 20vh; //when height: 100% flickity-viewport=0
    padding: 0;
    margin: 0 $base-size;

    .carousel-img {
      overflow: hidden;

      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        //position: absolute;
      }
    }

    .carousel-post {
      h3 {
        font-size: 150%;
      }
    }
  }

  .flickity-page-dots {
    bottom: -3 * $base-size;
  }
}

.gallery {
  display: flex;
  flex-wrap: wrap;

  .gallery-tile {
    padding: 1%;
    display: flex;
    overflow: hidden;

    img {
      border-radius: $radius;
      aspect-ratio: 1 / 1;
      object-fit: cover;
      max-width: 100%;
      display: block;
    }

    .inner-tile {
      display: flex;
      //flex-direction: row;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);

      a {
        //justify-content: center;
        font-size: 200%;
        color: #fff;
        margin: 1vmin;
        opacity: 0;
      }

      a:hover {
        color: $color-main;
        transition: $transition;
        opacity: 1;
      }
    }
  }

  .gallery-tile:hover {
    img {
      filter: brightness(50%);
      transition: $transition;
    }

    a {
      opacity: 0.5;
    }
  }
}
